<p style="color: green"><%= notice %></p>

<%= render @tweet_clone %>

<div>
  <%= link_to "Edit", edit_tweet_clone_path(@tweet_clone) %> |
  <%= link_to "Back", tweet_clones_path %>

  <%= button_to "Destroy", @tweet_clone, method: :delete %>
</div>
