<p style="color: green"><%= notice %></p>

<%= render @tweet_clone %>

<div>
  <%= link_to "Edit this tweet clone", edit_tweet_clone_path(@tweet_clone) %> |
  <%= link_to "Back to tweet clones", tweet_clones_path %>

  <%= button_to "Destroy this tweet clone", @tweet_clone, method: :delete %>
</div>
